<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/images.css">
    <title></title>
  </head>
  <body>
    <br />
      <div class="row">
          <div class="col-md-6">
            <br />
            <div class="img-hover-zoom"><img src="<%= @product.path_to_big_image %>"alt=""></div>
          </div>
            <br />
            <div class="col-md-6">
              <div><b><%= @product.title %></b></div>
              <div><i><%= @product.description %></i></div>
              <br />
              <div>Price: <%= @product.price %> £</div>
              <div>Size: <%= @product.size %> in</div>
              <div><button class="btn btn-xs btn-success" onclick="add_to_card(<%= @product.id %>)">Add to card</button></div>
            </div>
      </div>
      <br />
      <br />

    <script type="text/javascript">

      $(function(){
        update_orders_input();
        update_orders_button();
      })
    </script>

  </body>
</html>
